.board{
  background-color: rgb(252, 252, 252);
  /* border-radius: 1vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: .5vw double rgb(28, 27, 27); */
  /* position: absolute;
  left: 0;
  top: 0; */
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}
button{
  width: 10vw;
  height: 5vw;
  border-radius: 1vw;
  background-color: rgb(255, 255, 255);
  border: .1vw solid rgb(28, 27, 27);
  font-size: 1.5vw;
  font-weight: bold;
  margin: 1vw;
  transition:0.1s ease-in-out;

}
button:hover{
  background-color: rgb(28, 27, 27);
  color: rgb(255, 255, 255);
  transition:0.1s ease-in-out;
}

.section{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  border: 2px solid rgb(75, 75, 75);
}

.section-row{
  width: var(--size);
  height: 10vw;
  display: flex;
  flex-direction: row;
  margin: 0.1vw;
  
}
.box-row{
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
  margin:0;
  /* border: 1px solid rgb(28, 27, 27); */

}
.box{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(28, 27, 27);
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}
.box:focus{
  
}
.incorrect{
  background-color: rgba(255, 0, 0, 0.432) !important;
}
input{
  border: unset;
  margin: .1vw;
  caret-color: transparent;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.highlight{
  background-color: rgb(134, 171, 251);
}
.clear:hover{
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  transition:0.1s ease-in-out;
}

@media screen and (min-width:1100px) { 
  .board{
    --size:40vw;
  }
  .section-row{
    width: 40vw;
    height: 10vw;
  }
  
}

@media screen and (max-width:1100px) { 

  .section-row{
    height: 18vw;
  }
  button{
    width: 33vw;
    height: 10vw;
    font-size: 3vw;
  }
  
}
@media screen and (max-width:800) { 

  .section-row{
    height: 25vw;
  }
  button{
    width: 33vw;
    height: 10vw;
    font-size: 3vw;
  }
  
}

/* Be responsive on phone*/
@media screen and (max-width:600px) { 
  .board{
    --size:80vw;
  }
  .section-row{
    width: 80vw;
    height: 20vw;
  }
  button{
    height: 20vw;
    font-size: 6vw;
  }
  
}

